// Cores
$branco: #ffffff;
$preto: #000000;
$azul: #265AA6;
$roxo: #702283;
$amarelo: #FBBA00;
$ferrugem: #A48213;

// Peso das Fontes
$bold: 700;
$medium: 500;
$regular: 400;

// Media Queries
$small-fone: "only screen and (min-width : 359px)";
$big-fone: "only screen and (min-width : 601px)";
$screen: "only screen and (min-width: 992px)";
$bigscreen: "only screen and (min-width: 1200px)";